<form class="flex flex-col p-8 gap-y-8 w-full" [formGroup]="form">
  <header>
    <h2 class="text-3xl font-bold">Forgot password</h2>
  </header>
  <main>
    <fieldset class="flex flex-col gap-y-1">
      <label>Email</label>
      <input
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        autocapitalize="never"
        formControlName="email"
        placeholder="Email"
        class="border rounded p-4"
      />
    </fieldset>
  </main>
  <footer>
    <ng-container *ngIf="authState$ | async as authState">
      <button
        mat-ripple
        class="w-full py-4 px-4 rounded border flex items-center justify-center"
        (click)="onSubmit()"
      >
        <ng-container *ngIf="authState.sendingVerification; else text">
          <mat-spinner [diameter]="25"></mat-spinner>
        </ng-container>
        <ng-template #text>
          <span>Submit</span>
        </ng-template>
      </button>
    </ng-container>
  </footer>
</form>
