<form class="flex flex-col p-8 gap-y-8 w-full" [formGroup]="form">
  <header>
    <h1 class="text-3xl font-bold">Sign In</h1>
    <a class="transition-all hover:underline" routerLink="/forgot-password">
      Forgot password?
    </a>
  </header>
  <main class="flex flex-col gap-y-4">
    <fieldset class="flex flex-col gap-y-1">
      <label>Email*</label>
      <input
        id="email"
        name="email"
        type="email"
        autocapitalize="never"
        autocomplete="email"
        placeholder="Email"
        formControlName="email"
        class="border rounded p-4"
      />
      <ng-container *ngIf="shouldShowEmailRequired">
        <mat-error>Email is required</mat-error>
      </ng-container>
      <ng-container *ngIf="shouldShowEmailInvalid">
        <mat-error>Email is invalid</mat-error>
      </ng-container>
    </fieldset>
    <fieldset class="flex flex-col gap-y-1">
      <label>Password*</label>
      <input
        id="password"
        name="password"
        type="password"
        autocomplete="current-password"
        placeholder="Password"
        formControlName="password"
        class="border rounded p-4"
      />
      <ng-container *ngIf="shouldShowPasswordRequired">
        <mat-error>Password is required</mat-error>
      </ng-container>
    </fieldset>
    <fieldset>
      <label class="cursor-pointer flex items-center gap-x-2" for="remember">
        <input id="remember" name="remember" type="checkbox" />
        <span>Remember me</span>
      </label>
    </fieldset>
  </main>
  <footer class="flex flex-col items-center gap-y-4">
    <button
      mat-ripple
      class="w-full py-4 px-4 rounded border"
      (click)="onSubmit()"
    >
      <span>Sign In</span>
    </button>
    <p>
      Don't have an account?
      <a class="transition-all hover:underline" routerLink="/sign-up">
        <span>Sign up here.</span>
      </a>
    </p>
  </footer>
</form>
