<form class="flex flex-col p-8 gap-y-8 w-full" [formGroup]="form">
  <header>
    <h2 class="text-3xl font-bold">Recover Account</h2>
    <p>Enter the recovery code we sent to: {{ email }}</p>
  </header>
  <main class="flex flex-col gap-y-4">
    <fieldset class="flex flex-col gap-y-1">
      <label>Code*</label>
      <input
        id="code"
        name="code"
        type="text"
        placeholder="Code"
        formControlName="code"
        class="border rounded p-4"
      />
    </fieldset>
  </main>
  <footer class="flex flex-col items-center gap-y-4">
    <div class="w-full" *ngIf="authState$ | async as authState">
      <button
        mat-ripple
        class="w-full py-4 px-4 rounded border flex items-center justify-center"
        (click)="onSubmit()"
      >
        <ng-container *ngIf="authState.authenticating; else text">
          <mat-spinner [diameter]="25"></mat-spinner>
        </ng-container>
        <ng-template #text>
          <span>Submit</span>
        </ng-template>
      </button>
    </div>
    <p>
      Haven't received a code yet?
      <a
        class="cursor-pointer transition-all hover:underline"
        (click)="resendVerification()"
      >
        Resend verification code
      </a>
    </p>
  </footer>
</form>
